@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* Header */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    background: #3F3F3F;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo img{
    width: 40px;
    height: 40px;
    margin-right: 0px;
}
#logo h4{
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
}
#navBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navBar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navBar li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s ease;
}
#navBar li a:hover{
    color: #fca311;    
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

/* HERO SECTION */
#hero{
    background-image: url(./Images/hero\ image\ gen1.png);
    height: 94vh;
    width: 100%;
    background-size: cover;
    background-position: top 30% right 25%;
    padding: 0 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
#hero h4,#hero h2,#hero p{
    color: #fff;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #fca311;
}


/* PRODUCT SECTION */
#product-section{
    text-align: center;    
}
#product-section .productContainer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product-section .product{
    width: 20%;
    min-width: 250px;
    padding: 10px 10px;
    border: 1px solid rgb(233, 229, 229);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 20px;
    transition: 0.3s ease;
    position: relative;
    background-color: #fcd69ab4;
}
#product-section .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
    transform: translateY(-10px);
    background-color: #fca311;
}
#product-section .product img{
    width: 100%;
    border-radius: 20px;
}
#product-section .product .description{
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0 0 0;
}

/* Services section */
#services {
    background-color: #fff;
    padding: 20px;
}
#services h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.serviceContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.service {
    background-color: #caf0f8;
    width: 45%;
    height: 37vh;
    margin: 10px 25px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    transition: 0.3s ease;
}
.serviceContainer .service:hover{
    background-color: #f6bd60;
    transform: translateY(-10px);
}
.service img {
    width: 50%;
    height: auto;
}
.service-desc{
    padding: 0 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service h4 {
    color: #030303;
    margin: 20px 0;
}
.service p {
    color: #030303;
}

/* Contact Section */
#contact-header{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}